{% extends 'base.html.twig' %}
{% block title %}Solymosi{% endblock %}
{% block javascripts %} 
      <script src="https://use.fontawesome.com/9ba28fe502.js"></script>
{% endblock %}
        
{% block body %}
<html>
	<body>
		  
	    <div class="container">
	
			<div class=row">
				<div class="col-md-2">
					<img width="150" class="center-block img-responsive img-circle" src="http://scontent.cdninstagram.com/t51.2885-19/s150x150/14295528_647516192075199_5447466291789037568_a.jpg"/>
					  <br>
					  <div style="text-align:center; display:block;">
		                <a style="padding-right:10px;" href="//www.facebook.com/srp00"><i class="fa fa-lg fa-facebook"></i></a>
		                <a style="padding-right:10px;" href="//www.instagram.com/robert.s0"><i class="fa fa-lg fa-instagram"></i></a>
		                <a style="padding-right:10px;" href="//www.robertsolymosi.ro"><i class="fa fa-lg fa-globe"></i></a>
		                <a style="padding-right:10px;" href="//solymosiroberto@gmail.com"><i class="fa fa-lg fa-envelope"></i></a>
		            </div>
				</div>
				<div class=col-md-9>
					<h1>Welcome to my bundle page</h1>
	        		<p class="lead">(Solymosi Robert).<br> All you get is this text and a mostly barebones HTML document.</p>
	        		
				</div>
			</div>        
	      	
	    </div><!-- /.container -->
          
    </body>
</html>
{% endblock %}

{% block stylesheets %}
<style>
		
	
</style>

{% endblock %}