 	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="/">Proiect Software</a>

          <ul class="nav navbar-nav">
	    <li><a href="/pocris">Nicu Pocris</a></li>
            <li><a href="/solymosi">Solymosi</a></li>
            <li><a href="/magerusan">Magerusan</a></li>
            <li><a href="/florin">Florin</a></li>
            <li><a href="/marius">Marius</a></li>
            <li><a href="/andrei">Andrei</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>

        </div>
      </div>
    </nav>
