{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
	    <div class="row">
			<div class="col-md-6">
				<li class="list-group-item">
  						<a style="font-size:30px;" href="/pocris">
  							<img width="100" class="img-circle" src="/bundles/uabpocris/img/nicu.jpg"/>
  						        Nicu Pocris
  						</a>
				</li>
				<ul class="list-group">
					<li class="list-group-item">
						<a style="font-size:30px;" href="/solymosi">
							<img width="100" class="img-circle" src="http://scontent.cdninstagram.com/t51.2885-19/s150x150/14295528_647516192075199_5447466291789037568_a.jpg"/>
						        Solymosi Robert
						</a>
					</li>
          			<li class="list-group-item">
						<a style="font-size:30px;" href="/magerusan">
							<img width="100" class="img-circle" src="/bundles/uabmagerusan/web/images/magerusan_profil_photo.jpg"/>
						        Magerusan Cristian
						</a>
					</li>
            		<li class="list-group-item">
		              <a style="font-size:30px;" href="/marius">
		                <img width="100" class="img-circle" src="/bundles/uabbreaz/web/images/poza.jpg"/>
		                      Breaz Marius
		              </a>
		             </li>
		             <li class="list-group-item">
		              <a style="font-size:30px;" href="/florin">
		                <img width="100" class="img-circle" src="/bundles/UabFlorinBundle/web/images/profile.jpg"/>
		                      Stan Florin
		              </a>
		             </li>

		             <li class="list-group-item">
		              <a style="font-size:30px;" href="/tecsa">
		                <img width="100" class="img-circle" src="/bundles/uabtecsa/web/images/tecsa_profil.jpg"/>
		                      Tecsa Roxana
		              </a>
                  
		             </li>
                     <li class="list-group-item">
		              <a style="font-size:30px;" href="/andrei">
		                <img width="100" class="img-circle" src="/bundles/Uabispasbundle/web/images/ispas.jpg"/>
		                      Ispas Andrei
		              </a>
		             </li>
					 		             </li>
                     <li class="list-group-item">
		              <a style="font-size:30px;" href="/irinca">
		                <img width="100" class="img-circle" src="/bundles/uabirinca/web/images/andreea_1.jpg"/>
		                      Irinca Andreea-Gabriela
		              </a>
		             </li>
				</ul>
			</div>
		</div>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
