{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
	    <div class="row">
			<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item">
						<a style="font-size:30px;" href="/solymosi">
							<img width="100" class="img-circle" src="http://scontent.cdninstagram.com/t51.2885-19/s150x150/14295528_647516192075199_5447466291789037568_a.jpg"/>
						        Solymosi Robert
						</a>
					</li>
          <li class="list-group-item">
						<a style="font-size:30px;" href="/magerusan">
							<img width="100" class="img-circle" src="/images/magerusan_profil_photo.jpg"/>
						        Magerusan Cristian
						</a>
					</li>

				</ul>
			</div>
		</div>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
