{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('bundles/uabispas/web/css/style.css') }}" />
{% endblock %}
{% block body %}


     

<h1 id="hh">{{ispas}}</h1>

  <div class="container">
    <div class="row">
    <H2>Clik pe poza</h2>
      <div class="col-xs-6">
        <img id="profil" src="/bundles/uabispas/web/images/ispas.jpg" width="100">
		
      </div>
     

	<div class="col-xs-12">
		<div class="col-xs-6">
			<div id="info" class="profile">
				<div class="row">
				<h4>Nume si prenume:</h4>
				<span>Ispas Andrei</span>
			</div>

		</div>
		
			   <div class="col-xs-6">
					<div id="info" class="profile">
				  <div class="row">
					<h4>Data Nasterii:</h4>
					<span>05.06.1993</span>
				  </div>
				</div>
			  </div>
			  
			  <div class="col-xs-6">
				<div id="info" class="profile">
				  <div class="row">
					<h4>Studii:</h4>
					<span>Universitatea 1 Decembrie 1918 Alba Iulia</span>
				  </div>
				</div>
			  </div>
			  
			 <div class="col-xs-6">
				<div id="info" class="profile">
				  <div class="row">
					<h4>Varsta:</h4>
					<span>24</span>
				  </div>
				</div>
			  </div>
			  
			  
			  <div class="col-xs-6">
				<div id="info" class="profile">
				  <div class="row">
					<h4>Profesie:</h4>
					<span>Tehnician</span>
				  </div>
			  </div>
			</div>
	
	
    </div>
    </div>
    </div>
 </div>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ asset('bundles/uabispas/web/js/andrei.js') }}"></script>
{% endblock %}
